/* import fonts first https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* 
    css can have custom properties, variables. If you have same values, you can create custom properties.
*/
/* Custom properties */
:root {
    --leading: 2em;
}

/* affects all body */
body {
    font-family: 'Montserrat', sans-serif; /* sans-serif is fallback */
    margin: 0; /* margin affects outside of the element while padding affects inside of an element */
}

.hero-bg {
    /* put bg image and color */
    background: #307D99 url("../images/bg.jpg");
    /* for it to not repeat */
    background-size: cover;
    /* make the orage appears: x and y axis */
    background-position: 12% 83%;
    /* color changes fonts, paragraphs etc. */
    color: white;
    /* center text */
    text-align: center;
    /* padding - add negative space */
    /* units can be absolute or relative. absolute would be pixels. 
    but for different devices let's use relative units. for margin and padding is recommended to use em unit. */
    padding-bottom: 4em;
}

/* let's change yummi.eats logo */
header {
    padding: 1em 0; /* this adds to the top and bottom */    
}

/* we're changing only a inside hero-bg */
.hero-bg a {
    color: white; /* you can use rgb(), rgba() for alpha etc... */
    /* remove underline */
    text-decoration: none;
    /* make it bold */
    font-weight: bold;
    /* for text let's use rem units - this is all specific to responsive and flexible designs */
    font-size: 1.2rem;
}

/* let's add the margin that we removed to the sections */
section {
    margin: 0 1em;
}

/* let's change our h1 element */
h1 {
    /* increase size */
    font-size: 2.5rem;
    margin: 2em 0 1.2em; /* more space in the top, less in the bottom */
}

/* change "The Healthy" part */
h1 span {
    /* make it uppercase */
    text-transform: uppercase;
    /* display block means it will be on its own line, nothing is going to float to the left or right of it */
    display: block;
    font-size: 1.4rem;
    
    /* this is for the blue underline */
    position: relative;

    /* this is for the blue underline let's put it behind of the parent */
    z-index: 1;
}

/* add blue underline */
h1 span::before {
    content: ' ';
    /* situate things anywhere */
    position: absolute;
    width: 3em;
    background: #00BFFF;
    height: .4em;
    bottom: 0;

    /* let's put it behind of the parent */
    z-index: -1;

    /* push it a little bit to the left */
    margin-left: -.3em;
}

/* let's change only paragraph of hero */
.hero-bg p {
    font-weight: bold;
    /* put 1em margin on the left and right and push the content down 3em */
    margin: 0 1em 3em;
}

/* form container */
.form-container {
    background-color: white;
    /* push it left and right -1em to compensate section 1em */
    margin: 2em -1em 0;
    /* padding affects white space in the element */
    padding: 2em;
}

/* label inside form */
label {
    color: #2D7D98;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
    font-size: 1.2em;
}

/* the city input */
input[type=text] {
    border: 1px solid #707070;
    
    /* make it stretches all over */
    width: 100%;
    /* make it seems bigger */
    padding: 1em;
    /* width + padding makes it go further. We can fix this with box-sizing: box */
    box-sizing: border-box;
    
    /* make it rounded */
    border-radius: .5em;
    margin-top: 1.2em;
}

/* the Example: San Diego */
.form-container p {
    color: gray;
    margin-top: .3em;
    margin-bottom: 1.5em;
    font-weight: normal;
    font-size: .9em;
}

input[type=button] {
    background-color: #F89104;
    /* remove browser border for the button */
    border: none;
    width: 100%;
    color: white;
    font-weight: bold;
    /* padding in the top and bottom */
    padding: 1em 0;
    /* make it rounded */
    border-radius: .5em;
    /* increase font size a little bit */
    font-size: 1.3em;
    /* make cursor change */
    cursor: pointer;
}

/* change when button hover! */
input[type=button]:hover {
    background-color: rgb(216, 126, 1);
}

.authentic {
    /* overwriting section margin */
    margin: 0;
}

/* authentic text */
.right-col {
    text-align: center;
    /* 3em top and bottom and 1em left and right */
    margin: 3em 1em;
}

h2 {
    text-transform: uppercase;
    /* it also has the underscore in blue. let's put relative */
    position: relative;
}

h2::before {
    content: ' ';
    /* situate things anywhere */
    position: absolute;
    /* make it longer than previous one */
    width: 8em;
    background: #00BFFF;
    height: .4em;
    bottom: 0;

    /* let's put it behind of the parent */
    z-index: -1;

    /* push it a little bit to the left */
    margin-left: -.3em;
}

/* now we can see the big image */
img {
    width: 100%;
}

/* the authentic text content, add more space between lines */
p {
    /* this variable is declared in the start of the page */
    line-height: var(--leading);
}

/* media query to responsiveness: this will run if width > 730px */
@media (min-width: 730px){
    /* overwrite previous section */
    section {
        margin: 0 4em;
    }
    .form-container {
        background-color: white;
        /* push it left and right -4em to compensate section 4em */
        margin: 2em -4em 0;
        /* padding affects white space in the element */
        padding: 2em;
    }
}

/* when > 930px */
@media (min-width: 930px){
    .hero-bg {
        /* main text get to the left */
        text-align: left;
    }

    .hero-bg p {
        margin: 0 0 3em;
    }
    /* make the form to the left */
    .hero-bg section {
        width: 65%;
    }

    .form-container {
        /* top-bottom, right, left */
        margin: 2em 0 0; 
        padding: 2em;
        border-radius: .5em;
        /* make shadow (how far x and y shadow should extend, blur and color)*/
        box-shadow: 10px 10px 10px rgba(0,0,0,0.3)
    }

    /* make the button to the right of the form */
    form {
        /* grid, flex... ways to organize layout. flex for alignment. search css flex tutorial, grid tutorial etc.*/
        display: flex;
    }

    /* all this to fix form */
    .form-left {
        width: 70%;
    }
    label {
        margin: 0;
    }
    input[type="button"] {
        height: fit-content;
        font-size: 1.1em;
        /* space between button and form */
        margin-left: 1em;
        /* space top */
        margin-top: 2.2em;
        /* make it the same size of input */
        padding: .7em 0;
        /* make it smaller */
        width: 30%;
    }

    /* too much space in the paragraph */
    .hero-bg p {
        margin-bottom: 0;
    }

    /* make authentic section work as well */
    /* <tag>.<class> */
    section.authentic {
        display: grid;
        /* TODO check on this */
        grid-template-columns: repeat(2, 50%);
        /* allow us to name the columns */
        grid-template-areas: "bowl content"; /* this is to flip the bowl and the content. bowl coming first */
    }
    /* this is to flip the bowl and the content */
    .right-col {
        grid-area: content;
        /* increases the padding as we grow % */
        padding: 0 10%;
        text-align: left;
        align-self: center; /* vertically aligned. TODO */
    }
    /* this is to flip the bowl and the content */
    img {
        grid-area: bowl;
    }

    h2 {
        margin: 0;
    }
}

/* animate section */
.top {
    /* appears in 2 seconds and stops, no loop */
    animation: fadeIn 2s forwards;
}
/* animation start and end */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0em);
    }
}

